<!-- Jumbotron -->
<div class="jumbotron">
    <h1>About the IU DSKB</h1>
    <p class="lead">The Indiana Data Science Knowledge Base was built with a focus on learning from real-world experiences, or <b>Data Science Solutions</b>.  This is the fundamental building block of the system.</p>
    <div class="container-fluid" align="center">
       <%= image_tag("DSKBDataFlower.png", :class => "img-responsive", :alt => "Responsive Image") %>
    </div>
    <p class="lead">Each solution is tagged to indicate which tools and data science concepts were involved.  Tools and Concepts are themselves entries in the search index.  You will notice you can search just by the record type of Solutions, Tools or Concepts. 
      If training resources are available for an entry, you will find those as well when you click on an entry title.  Also try clicking on related items - for instance if one solution use "R" as a Tool,
      then click on R in the search results to see other solutions that also use it.</p>
</div>
