// application.scss
.navbar-brand {  background: transparent !important;}   /* PJA:  Override width of header image */
.navbar-inverse { background-image: url("body-bg.jpg") !important; }
.navbar-nav a { color: #fff !important;}
@media (max-width: 768px) {
  .navbar-header { margin-left: 13px !important;}  /* PJA: add left margin to align DSKB properly when collapsed */
  }
.iubrand-text { font-family: BentonSansCondensedRegular, Arial Narrow, Arial, Helvetica, sans-serif; 
                font-size: 1em;
                letter-spacing: 0.025em;
                white-space: nowrap;
                line-height: 1em;
                text-align: left;
                color: white; 
                text-transform: uppercase; 
                padding: 0 0 0 75px;
}
.dskbbrand-text { font-family: BentonSansCondensedRegular, Arial Narrow, Arial, Helvetica, sans-serif; 
                font-size: 2.5em;
                letter-spacing: 0.05em;
                text-align: left;
                color: white; 
                text-decoration: none;
                position: static;
                transform: translateY(3px);
                transform: translateX(3px);
                padding: 0px 0 0 75px;
}
.footer-text {
                font-size: 0.8em;
                padding-left: 80px;
                padding-right: 80px;
}
.well.dskb {
    //background-image: url("body-bg-light.jpg");
    padding: 5px 19px 10px 19px;
    text-align: center;
}
.well.dskb.h1 {
    color: #990000;
}


@import "bootstrap-sprockets";
@import 'blacklight';